body {
  padding: 24px;
}

.loading {
  width: 100px;
  height: 100px;
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  opacity: .5;
}

ul {
  position: absolute;
  z-index: 100;
  background-color: white;
  list-style: none;
  max-height: 200px;
  width: 200px;
  margin-top: 0;
  padding: 0 24px 8px;
  overflow-y: scroll;
  border: 1px solid black;
  border-top: none;
}

li {
  /* display: inline; */
  margin-right: 10px;
}

li:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.countries-list {
  display: none;
}

@keyframes loading {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}