:root {
  /* --background-color: #0B192E; */
  --text-dark: #050293;
  --background-light: #12233F;
  /* --background-color: #020202; */
  --font-light: #CDD7F5;
  --font-dark: #8993AF;
  --font-accent: #3366cc;
  --font-accent-50: #6CE4FE80;
  --font-accent-50: #6CE4FE4D;

  --white: #ffffff;
  --black: #000000;

  --manrope: 'Manrope';
  --ibm: 'IBM Plex Mono';
  --border-radius: 10px;
  --duration: .3s;

  --content: 1280px;

  --gradient: linear-gradient(90deg, #EE00C1 9.25%, #5D00FF 93.25%);
  --gradient-blue: #5D00FF;
  --gradient-pink: #EE00C1;

  --gap: 8px;
  --gap0-5: calc(var(--gap)*0.5);
  --gap1-5: calc(var(--gap)*1.5);
  --gap2: calc(var(--gap)*2);
  --gap3: calc(var(--gap)*3);
  --gap4: calc(var(--gap)*4);
  --gap5: calc(var(--gap)*5);
  --gap6: calc(var(--gap)*6);
  --gap7: calc(var(--gap)*7);
  --gap8: calc(var(--gap)*8);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--white);
}

body {
  padding: var(--gap3);
  font-family: var(--manrope);
}

.container {
  max-width: var(--content);
  margin: auto;
}

h1 {
  color: var(--text-dark);
  font-size: 3.2rem;
  margin-bottom: var(--gap4);
}

a {
  text-decoration: none;
}

.label {
  font-size: 1.6rem;
}

.dashboard {
  background-image: var(--gradient);
  padding: var(--gap2);
  border-radius: var(--border-radius);
}

.display-data,
.controls {
  display: flex;
  justify-content: space-around;
}

p {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: var(--gap);
}

.controls {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}

button {
  width: 15rem;
  height: 3rem;
  margin: var(--gap2);
  border: none;
  border-radius: var(--border-radius);
  border: 3px solid transparent;
  background-color: var(--white);
  color: var(--text-dark);
  font-size: 1.6rem;
}

button:hover {
  cursor: pointer;
  color: var(--gradient-pink);
  box-shadow: none;
  transition-duration: var(--duration);
}

input {
  border: none;
  border-radius: var(--border-radius);
  height: 3rem;
  padding: 0 var(--gap);
}

label {
  margin-right: var(--gap);
}

.country-input {
  width: 20rem;
}

.loading {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* opacity: .5; */
}

ul {
  position: absolute;
  z-index: 100;
  background-color: var(--white);
  list-style: none;
  max-height: 20rem;
  width: 20rem;
  margin-top: calc(var(--gap2) * -1);
  padding: 0 var(--gap3) var(--gap);
  overflow-y: scroll;
  border: 1px solid var(--text-dark);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: none;
}

li {
  /* display: inline; */
  margin-right: 1rem;
}

li:hover {
  cursor: pointer;
  color: var(--white);
  background-image: var(--gradient);
  transition-duration: 0;

}

.countries-list {
  display: none;
  color: var(--text-dark);
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .chart {
  width: 100%;
  height: 50rem;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit {
  display: flex;
  align-items: center;
}

footer p {
  color: var(--text-dark);
  font-size: 1.2rem;
}

footer svg {
  width: 2rem;
  height: auto;
  margin-left: var(--gap);
}

footer a {
  text-decoration: none;
  font-size: 1.2rem;
}

footer a:hover {
  text-decoration: underline;
  transition-duration: var(--duration);
}


@keyframes loading {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}